*{
    margin: 0;
    padding: 0;
}
#but1{
    margin: 10px 20px 10px 20px;
    padding: 10px 15px 10px 15px;
    background-color: aquamarine;
    border: 5px dashed coral;
    height: 100px;
    width: 100px;
    border-radius: 15px 20px 15px 20px;
    box-sizing: border-box;
}
#but2{
    margin: 15px 10px 15px 10px;
    padding: 10px 15px 10px 15px;
    background-color: yellow;
    border: 2px solid pink;
    height: 100px;
    width: 100px;
    border-radius: 15px 10px 15px 10px;
    box-sizing: content-box;
}