.box{
    height : 100px;
    width: 100px;
    margin-right: 5px;
    border: 3px solid black;
}
.flex-container1{
   height: 220px;
   width: 420px;
   padding: 10px;
   margin: 20px;
   border: 3px solid black;

   display: flex;
   flex-direction: row;
   /* justify-content: space-around; */
   /* flex-wrap: wrap; */
   flex-wrap: wrap-reverse;
}
#box1{
     background-color: rgb(220, 27, 27);
}
#box2{
     background-color: rgb(200, 228, 16);
}
#box3{
     background-color: rgb(5, 105, 246);
}
#box4{
    background-color: rgb(18, 216, 226);
}
.flex-container2{
   height: 250px;
   width: 600px;
   padding: 10px;
   margin: 20px;
   border: 3px solid black;

   display: flex;
   flex-direction: row;
   justify-content:center;
   /* align-items: center; */
   flex-wrap: wrap;
   align-content: center;
}
#box01{
     background-color: rgb(233, 149, 149);
}
#box02{
     background-color: rgb(218, 229, 145);
}
#box03{
     background-color: rgb(137, 164, 203);
}
#box04{
    background-color: rgb(139, 209, 212);
}
#box05{
    background-color: rgb(180, 110, 234);
}
#box06{
    background-color: rgb(88, 194, 104);
}
.box0{
    height : 100px;
    width: 200px;
    margin-right: 5px;
    border: 3px solid black;
}
.flex-container3{
   height: 100px;
   width: 600px;
   padding: 10px;
   margin: 20px;
   border: 3px solid black;

   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: start;
   /* flex-wrap: wrap; */
}
#box001{
     background-color: rgb(149, 1, 1);
     order: 2;
}
#box002{
     background-color: rgb(145, 167, 1);
     order: 4;
}
#box003{
     background-color: rgb(1, 70, 166);
     align-self: center;
     flex-shrink: 6;
     order: 1;
}
#box004{
    background-color: rgb(1, 162, 168);
    flex-grow: 1;
    order: 3;
}